body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("images/great-wall.jpg");
    background-size: cover;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#main-menu button {
    font-size: 20px;
    width: 40%;
    border-radius: 5px;
    color: black;
    background-color: #4297A0;
    cursor:pointer;
}

#main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background-color: lightcoral;
    padding: 16px 32px;
    border-radius: 12px;
    border: 2px solid black;
}

.content-window {
    width: 80%;
    height: 90%;
    background-color: lightcoral;
    border-radius: 12px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 30%;
}

input, select {
    margin-bottom: 12px;
    font-size: 20px;
}

/* back-next is the pair of buttons in login, register and forget password pages */
.back-next {
    margin-top: 20px;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.back-next button {
    font-size: 20px;
    width: 40%;
    border-radius: 5px;
    color: black;
    background-color: #4297A0;
    cursor:pointer;
}


/* For character selection in registration page */
#characters {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
    margin: 3px;
}

#characters button {
    width: 95px;
    height: 135px;
    margin: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}

#characters button:hover {
    border: 2px solid #E57F84;
}

#character-1 {
    background-image: url(images/guan_yu.PNG);
}

#character-2 {
    background-image: url(images/huang_zhong.PNG);
}

#character-3 {
    background-image: url(images/wei_yan.PNG);
}

#character-4 {
    background-image: url(images/zhao_yun.PNG);
}

#description {
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
}





a {
    margin-top: 24px;
    font-size: 20px;
}

/* buttons in the world selection */
button.world, button#log-out, button#leaderboard, button#back {
    font-size: 25px;
    margin: 20px;
    border-radius: 5px;
    color: black;
    background-color: #4297A0;
    cursor:pointer;
}

#world-selection {
    width: 60%;
    height: 60%;
    border-radius: 12px;
    background-color: lightcoral;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}

#world-selection-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#world-selection-body {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}

#log-out-container {
    width: 100%;
    align-self: left;
    /*position: fixed;
    right:0;
    bottom:0;*/
}









 /* Teacher stuff here */
#assignment-container {
    border: 1px solid;
    width: fit-content;
    height: 50%;
    background-color: lightgray
}

#teacher-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-bottom: 16px;
}

table {
    font-size: 20px;
}

td button {
    font-size: 20px;
}

#teacher-buttons button {
    font-size: 20px;
}

th {
    text-align: left;
}

col#assignment {
    width: 700px;
}